# Dependencies
/node_modules
.npm-cache

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files (can opt-in for committing if needed)
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Editor / OS files
.DS_Store
*.pem
.idea
.claude
.cursor
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?